.section-projects {
  display: flex;
  flex: 1 800px;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin: 20px 20px;
}

.container-images-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-images-projects picture {
  flex: 2 100px;
  max-width: 100%;
}

.paragraph-projects {
  text-align: start;
}

.nav-projects {
  display: flex;
  justify-content: flex-end;
}

.nav-projects a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}