#content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page-section {
    display: none;
}

.page-section--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}