@import url(../base/reset.css);
@import url(../layouts/header.css);
@import url(../layouts/footer.css);

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  overflow-y: auto;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 72px;
}
.subtitle{
  font-size: 36px;
}