@import url(../base/reset.css);
@import url(../layouts/header.css);
@import url(../layouts/footer.css);
@import url(../components/card.css);

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-grow: 1;
  overflow-y: auto;
}
